@import 'https://fonts.googleapis.com/css?family=Raleway';
html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: rgb(213,186,226) fixed;
	background: linear-gradient(90deg, rgba(213,186,226,1) 0%, rgba(177,53,235,1) 22%, rgba(151,16,213,1) 47%, rgba(0,212,255,1) 100%) fixed;
  }
  
  footer{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
/*Customer CSS for navbar*/
	div.container
	{
	    font-family: Raleway;
	    margin: 0 auto;
		padding: 2em 3em;
		text-align: center;
	}
	
	div.container a
	{
	    color: #FFF;
	    text-decoration: none;
	    font: 20px Raleway;
	    margin: 0px 10px;
	    padding: 10px 10px;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	}
	
	/* Border from Y to X  */
	div.borderYtoX a:before, div.borderYtoX a:after
	{
	    position: absolute;
	    opacity: 0.5;
	    height: 100%;
	    width: 2px;
	    content: '';
	    background: #FFF;
	    transition: all 0.3s;
	}
	
	div.borderYtoX a:before
	{
	    left: 0px;
	    top: 0px;
	}
	
	div.borderYtoX a:after
	{
	    right: 0px;
	    bottom: 0px;
	}
	
	div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
	{
	    opacity: 1;
	    height: 2px;
	    width: 100%;
	}
  .main-heading {
    margin: auto;
    color: #fff;
    text-align: center;
  }

.students-table{
 padding-top: 35px;
}
  .students-table h2 {
    color: #fff;
    text-align: center;
  }

.student-table {
    margin: 20px 200px 0 250px;
    border-collapse: collapse;
    border-spacing: 0;
    background: #212121;
    color: #fff;
}

.student-table th, .student-table td {
    text-align: center;
}

.student-table thead {
    line-height: 15px;
    background: #2e63e7;
    text-transform: uppercase;
}

.student-table thead th {
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    vertical-align: bottom;
}

.student-table thead th:nth-child(1) {
    width: 10%;
    text-align: left;
    padding-left: 20px;
}

.student-table thead th:nth-child(2) {
    width: 15%;
}

.student-table thead th:nth-child(3) {
    width: 35%;
}

.student-table thead th:nth-child(4) {
    width: 25%;
}

.student-table thead th:nth-child(5) {
  width: 10%;
}

.student-table thead th:nth-child(6) {
  width: 10%;
}

.student-table tbody {
    font-size: 1em;
    line-height: 15px;
}

.student-table tbody tr {
    border-top: 2px solid rgba(109, 176, 231, 0.8);
    transition: background 0.6s, color 0.6s;
}

.student-table tbody tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

.student-table tbody tr:hover {
    color: #000;
    background: white;
    font-weight: 400;
}

.student-table tbody td {
    padding: 12px;
}

.student-table tbody tr:hover td:first-child {
    background: rgba(0,0,0,0);
}

.student-table tbody td:first-child {
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    background: rgba(109, 176, 231, 0.35);
    transition: backgrounf 0.6s;
}

  .login-box input[type=submit]:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }



  
  .logout-area a {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-left: 970px;
    letter-spacing: 4px
  }
  
  .logout-area a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .logout-area a span {
    position: absolute;
    display: block;
  }
  
  .logout-area a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .logout-area a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .logout-area a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .logout-area a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }