<!-- 
Students:
Sharang Verma - 300981587
Harkirat Grewal - 300987512
Rojina Akter - 300756946

Submission Date: April 02, 2021
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" >
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>COVID-19 Testing System - Patient Area</title>
</head>
<body>
	<div class="container teal borderYtoX">
	  <a href="http://localhost:8081/">HOME</a>
	  <a href="http://localhost:8083/">CENTRE</a>
	  <a href="http://localhost:8082/">TEST</a>
	</div>
  <div class='main-heading'>
    <h1>Patient Portal</h1>
  </div>
  <div class="login-box">
    <a href="/searchpatient">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Patient Search
    </a>
    <br />
    <a href="/allpatients">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Patient Summary
    </a>
    <br />
    <a href="/register">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Add Patient
    </a><br /><br />
    <footer>
      <h5>&copy; 2021 Sharang, Harkirat, Rojina All Rights Reserved</h5> 	
    </footer>
  </div>
</body>
</html>